<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#000000" />
    <!-- Standard metadata tags -->
    {% block head %}
    <title>{% block title %}{% endblock %} - EHGP</title>
    <meta name="description" content="{% block description %}{% endblock %} - EHGP">
    <meta name="google-site-verification" content="mwjiOyBJB-bKxNz2qBLF0K_6Jyk8MbEdobAOBgcmuGg" />
    <!-- Facebook tags -->
    <meta property="fb:app_id" content=""/>
    <meta property="og:url" content="https://ehgp.github.io"/>
    <meta property="og:type" content="website" />
    <meta name="og:title" content="{{ self.title() }}" />
    <meta property="og:image" content="https://ehgp.github.io/apple-touch-icon.png" />
    <meta property="og:image:alt" content="Logo"/>
    <meta name="og:description" content="{{ self.description() }} - EHGP" />
    <meta property="og:site_name" content="EHGP" />
    <meta property="og:locale" content="en_US"/>
    <meta property="article:author" content=""/>
    <!-- adsbygoogle tags -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6937005527826464"
    crossorigin="anonymous"></script>
    <!-- Twitter tags -->
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@ehgp.github.io"/>
    <meta name="twitter:creator" content="@ehgp93"/>
    <meta name="twitter:url" content="https://ehgp.github.io"/>
    <meta name="twitter:title" content="{{ self.title() }}" />
    <meta name="twitter:description" content="{{ self.description() }} - EHGP" />
    <meta name="twitter:image" content="https://ehgp.github.io/apple-touch-icon.png"/>
    <meta name="twitter:image:alt" content="Logo"/>
    <meta name="msapplication-TileColor" content="#2b5797"/>
    <meta name="theme-color" content="#ffffff"/>
    <!-- Relative links -->
    <!-- Links to a JSON file that specifies "installation" credentials for the web applications -->
    <!-- <link rel="manifest" href="manifest.json"/> -->

    <!-- Links to information about the author(s) of the document -->
    <!-- <link rel="author" href="humans.txt"/> -->

    <!-- Refers to a copyright statement that applies to the link's context -->
    <!-- <link rel="license" href="copyright.html"/> -->
    <!-- For IE 11, Chrome, Firefox, Safari, Opera -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#08617b">
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:400,400i,700,700i|Roboto+Mono:400,400i,700">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.dom.min.js"></script>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WFF39GD');</script>
    <!-- End Google Tag Manager -->

    {% endblock %}
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WFF39GD"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div id="navbar-container" class="mobile-padded">
        <ul id="navbar">
            <li class="navbutton">
                <a href="{{url_for('home')}}" {% if current_page=='Home' %}class="sweep current" {% endif %} class="sweep">Home</a>
            </li>
            <li class="navbutton">
                <a href="{{url_for('mywork')}}" {% if current_page=='My work' %}class="sweep current" {% endif %} class="sweep">My work</a>
            </li>
            <li class="navbutton">
                <a href="{{url_for('about')}}" {% if current_page=='About' %}class="sweep current" {% endif %} class="sweep">About</a>
            </li>
            <li class="navbutton">
                <a href="{{url_for('contact')}}" {% if current_page=='Contact' %}class="sweep current" {% endif %} class="sweep">Contact</a>
            </li>
            <li class="navbutton">
                <a href="{{url_for('resumes')}}" {% if current_page=='Resumes' %}class="sweep current" {% endif %} class="sweep">Resumes</a>
            </li>

        </ul>
    </div>
    <div id="centred-container">
        <div id="main">
            <div id="content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    </div>
    <div id="footer-container">
        <div id="footer">
            {% block footer %}
            <ul class="footer-ul">
                <li> <i class="fa fa-copyright" aria-hidden="true"></i> EHGP {{ year }}</li>
                <li><a onclick="topFunction()" style="cursor:pointer">Back to top <i class="fa fa-fw fa-long-arrow-up" aria-hidden="true"></i></a></li>
            </ul>
            {% endblock %}
        </div>
    </div>

    <script>
        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>

    <img src="https://visitor-badge.laobi.icu/badge?page_id=ehgp.github.io" type="image/svg" alt="visitors">

    <!-- Default Statcounter code for ehgp.github.io http://ehgp.github.io
    <script type="text/javascript">
        var sc_project = 12132297;
        var sc_invisible = 1;
        var sc_security = "9e8bf11f";
        var sc_https = 1;
        var sc_remove_link = 1;
    </script>
    <script type="text/javascript" src="https://www.statcounter.com/counter/counter.js" async></script>
    <noscript><div class="statcounter"><img class="statcounter"
    src="https://c.statcounter.com/12132297/0/9e8bf11f/1/" alt="Web
    Analytics"></div></noscript>
     End of Statcounter Code -->

</body>

</html>