<div class="card">
  {% if current_page == "Contact"%}
  <h1 class="title">Contact
  </h1>
  {% else %}
  <h2 class="section-title">
    <a href="{{ url_for('contact')}}" class="arrow">Contact</a>
  </h2>
  {% endif %}

    <div class="inner-card">
    <ul class="contact">

      <li title="twitter">
        <a href="http://twitter.com/ehgp93">
          <i class="fa fa-twitter fa-fw" aria-hidden="true" style="color:#1da1f2"></i>
          @ehgp93
        </a>
     </li>

      <li title="email">
        <a href='mailto&#58;ehgp&#64;utexas&#46;edu'>
          <i class="fa fa-envelope fa-fw" aria-hidden="true" style="color:#ffa930"></i>
          ehgp&#64;utexas&#46;edu
        </a>
      </li>

      <li title="github">
        <a href="http://github.com/ehgp">
          <i class="fa fa-github fa-fw" aria-hidden="true" style="color:#4078c0"></i>
          ehgp
        </a>
      </li>


    </ul>
  </div>
</div>
