<div class="card">
    <div class="inner-card">
        <div class="about">Master in Data Science and Cybersecurity</div>
            {{ home_html|safe }}
        <!-- <img src="https://github-readme-stats.vercel.app/api?username=ehgp&include_all_commits=true&show_icons=true&theme=github_dark&hide_border=true" alt="ehgp's github stats" width="48%" align="right" >
        <img src="https://github-readme-streak-stats.herokuapp.com/?user=ehgp&theme=tokyonight&hide_border=true" alt="ehgp's github streak" width="48%" > -->
    </div>
</div>